# {{ ansible_managed }}
# Date: {{ current_date }}
# https://vm-gitlab01.tcsbank.ru/infra-compute/update_packages/update_packages
#

[patch-centos-7-base]
name=Patch - CentOS-$releasever - Base
baseurl=http://repo-linux.tcsbank.ru/repository/centos/centos/$releasever/os/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
enabled=1
gpgcheck=1
skip_if_unavailable=True
proxy=_none_

[patch-centos-7-updates]
name=Patch - CentOS-$releasever - Updates
baseurl=http://repo-linux.tcsbank.ru/repository/centos/centos/$releasever/updates/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
enabled=1
gpgcheck=1
skip_if_unavailable=True
proxy=_none_

[patch-centos-7-extras]
name=Patch - CentOS-$releasever - Extras
baseurl=http://repo-linux.tcsbank.ru/repository/centos/centos/$releasever/extras/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
enabled=1
gpgcheck=1
skip_if_unavailable=True
proxy=_none_

[patch-centos-7-centosplus]
name=Patch - CentOS-$releasever - Plus
baseurl=http://repo-linux.tcsbank.ru/repository/centos/centos/$releasever/centosplus/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
gpgcheck=1
enabled=0
skip_if_unavailable=True
proxy=_none_

[patch-epel]
name=Patch - Extra Packages for Enterprise Linux (v. 6/7 for x86_64)
baseurl=http://repo-linux.tcsbank.ru/repository/epel/$releasever/$basearch/
enabled=1
gpgcheck=0
repo_gpgcheck=0
skip_if_unavailable=True
proxy=_none_

[patch-remi]
name=Patch - Remi's RPM repository for Enterprise Linux 7 - $basearch
baseurl=http://repo-linux.tcsbank.ru/repository/remi/enterprise/7/remi/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi
enabled=0
gpgcheck=1
skip_if_unavailable=true
proxy=_none_
