# {{ ansible_managed }}
# Date: {{filename_with_date}}
# https://vm-gitlab01.tcsbank.ru/infra-compute/repository/repository
#

deb http://repo-linux.tcsbank.ru/repository/ubuntu/ {{ ansible_distribution_release }} main restricted universe multiverse
# deb-src http://repo-linux.tcsbank.ru/repository/ubuntu/ {{ ansible_distribution_release }} main restricted universe multiverse

deb http://repo-linux.tcsbank.ru/repository/ubuntu/ {{ ansible_distribution_release }}-updates main restricted universe multiverse
# deb-src http://repo-linux.tcsbank.ru/repository/ubuntu/ {{ ansible_distribution_release }}-updates main restricted universe multiverse

deb http://repo-linux.tcsbank.ru/repository/ubuntu/ {{ ansible_distribution_release }}-backports main restricted universe multiverse
# deb-src http://repo-linux.tcsbank.ru/repository/ubuntu/ {{ ansible_distribution_release }}-backports main restricted universe multiverse

deb http://repo-linux.tcsbank.ru/repository/ubuntu/ {{ ansible_distribution_release }}-security main restricted universe multiverse
# deb-src http://repo-linux.tcsbank.ru/repository/ubuntu/ {{ ansible_distribution_release }}-security main restricted universe multiverse
