# {{ ansible_managed }}
# Date: {{ current_date }}
# https://vm-gitlab01.tcsbank.ru/infra-compute/repository/repository
#

[tcs-centos-base]
name=CentOS-$releasever - Base
baseurl=http://repo-linux.tcsbank.ru/repository/centos/centos/$releasever/os/$basearch/
# baseurl=http://repo-linux.tcsbank.ru/centos/$releasever/os/$basearch/
# mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=os&infra=$infra
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-{{ ansible_distribution_major_version }}
skip_if_unavailable=True
proxy=_none_


[tcs-centos-updates]
name=CentOS-$releasever - Updates
baseurl=http://repo-linux.tcsbank.ru/repository/centos/centos/$releasever/updates/$basearch/
# baseurl=http://repo-linux.tcsbank.ru/centos/$releasever/updates/$basearch/
# mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=updates&infra=$infra
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-{{ ansible_distribution_major_version }}
skip_if_unavailable=True
proxy=_none_


# Additional packages that may be useful
[tcs-centos-extras]
name=CentOS-$releasever - Extras
baseurl=http://repo-linux.tcsbank.ru/repository/centos/centos/$releasever/extras/$basearch/
# baseurl=http://repo-linux.tcsbank.ru/centos/$releasever/extras/$basearch/
# mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=extras&infra=$infra
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-{{ ansible_distribution_major_version }}
skip_if_unavailable=True
proxy=_none_


# Additional packages that extend functionality of existing packages
[tcs-centos-centosplus]
name=CentOS-$releasever - Plus
baseurl=http://repo-linux.tcsbank.ru/repository/centos/centos/$releasever/centosplus/$basearch/
# baseurl=http://repo-linux.tcsbank.ru/centos/$releasever/centosplus/$basearch/
# mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=centosplus&infra=$infra
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-{{ ansible_distribution_major_version }}
skip_if_unavailable=True
proxy=_none_
