# {{ ansible_managed }}
# Date: {{filename_with_date}}
# https://vm-gitlab01.tcsbank.ru/infra-compute/repository/repository
#
# default location for the meta-release file

[METARELEASE]
URI = http://repo-linux.tcsbank.ru/repository/ubuntu-changelogs/meta-release
URI_LTS = http://repo-linux.tcsbank.ru/repository/ubuntu-changelogs/meta-release-lts
URI_UNSTABLE_POSTFIX = -development
URI_PROPOSED_POSTFIX = -proposed
