# {{ ansible_managed }}
# Date: {{ current_date }}
# https://vm-gitlab01.tcsbank.ru/infra-compute/repository/repository
#

deb http://repo-linux.tcsbank.ru/repository/debian buster main non-free contrib
deb-src http://repo-linux.tcsbank.ru/repository/debian buster main non-free contrib

deb http://repo-linux.tcsbank.ru/repository/debian-security-apt-buster  buster/updates main contrib non-free
deb-src http://repo-linux.tcsbank.ru/repository/debian-security-apt-buster buster/updates main contrib non-free
