# {{ ansible_managed }}
# Date: {{filename_with_date}}
# https://vm-gitlab01.tcsbank.ru/infra-compute/repository/repository
#

[tcs-rhel-base]
name=Red Hat Enterprise Linux Server Base(v. 6/7 for x86_64)
baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/$basearch/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
skip_if_unavailable=True
proxy=_none_


[tcs-rhel-extras]
name=Red Hat Enterprise Linux Server Extras(v. 6/7 for x86_64)
baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/extras/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
skip_if_unavailable=True
proxy=_none_


[tcs-rhel-optional]
name=Red Hat Enterprise Linux Server Optional(v. 6/7 for x86_64)
baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/optional/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
skip_if_unavailable=True
proxy=_none_
