---
- name: Copy *.repo files from template (RedHat 6)
  template:
    src: "{{item.src}}"
    dest: "{{item.dest}}"
    force: true
  when: ansible_distribution_major_version == "6"
  with_items:
    - {src: 'redhat/6/etc/yum.repos.d/tcs-redhat.repo.j2',dest: '/etc/yum.repos.d/tcs-redhat.repo'}
    - {src: 'epel/6,7/tcs-epel.repo.j2',dest: '/etc/yum.repos.d/tcs-epel.repo'}

- name: Copy *.repo files from template (RedHat 7)
  template:
    src: "{{item.src}}"
    dest: "{{item.dest}}"
    force: true
  when: ansible_distribution_major_version == "7"
  with_items:
    - {src: 'redhat/7/etc/yum.repos.d/tcs-redhat.repo.j2',dest: '/etc/yum.repos.d/tcs-redhat.repo'}
    - {src: 'epel/6,7/tcs-epel.repo.j2',dest: '/etc/yum.repos.d/tcs-epel.repo'}

# - name: Clean repository and get repository list again for RedHat systems
#   shell: yum clean all ; yum repolist
#   args:
#     warn: false
#   register: yum_clean_and_repolist
#
...
