# {{ ansible_managed }}
# Date: {{ current_date }}
# https://vm-gitlab01.tcsbank.ru/infra-compute/update_packages/update_packages
#

[patch-rhel-8-server-base]
name=Patch - Red Hat Enterprise Linux Server Base
baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
enabled=1
gpgcheck=0
repo_gpgcheck=0
skip_if_unavailable=True
proxy=_none_

# [patch-rhel-8-baseos]
# name=Red Hat Enterprise Linux 8 for x86_64 - BaseOS (RPMs)
# baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/baseos/$basearch/
# # baseurl=http://repo-linux.tcsbank.ru/rhel/8/baseos/x86_64
# enabled=1
# gpgcheck=1
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
# skip_if_unavailable=True
# proxy=_none_

# [patch-rhel-8-baseos-debug]
# name=Red Hat Enterprise Linux 8 for x86_64 - BaseOS (Debug RPMs)
# baseurl=https://cdn.redhat.com/content/dist/rhel8/8/x86_64/baseos/debug
# enabled=0
# gpgcheck=1
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
# skip_if_unavailable=True
# proxy=_none_

[patch-rhel-8-appstream]
name=Red Hat Enterprise Linux 8 for x86_64 - AppStream (RPMs)
baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/appstream/$basearch/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
skip_if_unavailable=True
proxy=_none_

# [patch-rhel-8-ansible-2.8]
# name=Red Hat Ansible Engine 2.8 for RHEL 8 x86_64 (RPMs)
# baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/ansible28/$basearch/
# # baseurl=https://cdn.redhat.com/content/dist/layered/rhel8/x86_64/ansible/2.8/os
# enabled=0
# gpgcheck=1
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
# skip_if_unavailable=True
# proxy=_none_

# [patch-rhel-8-server-extras]
# name=Patch - Red Hat Enterprise Linux Server Extras
# baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/extras/
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
# enabled=1
# gpgcheck=0
# repo_gpgcheck=0
# skip_if_unavailable=True
# proxy=_none_
#
# [patch-rhel-8-server-optional]
# name=Patch - Red Hat Enterprise Linux Server Optional
# baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/optional/
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
# enabled=1
# gpgcheck=0
# repo_gpgcheck=0
# skip_if_unavailable=True
# proxy=_none_

[patch-epel]
name=Patch - Extra Packages for Enterprise Linux
baseurl=http://repo-linux.tcsbank.ru/repository/epel/$releasever/Everything/$basearch/
# baseurl=http://repo-linux.tcsbank.ru/repository/epel/$releasever/Modular/$basearch/
enabled=1
gpgcheck=0
repo_gpgcheck=0
skip_if_unavailable=True
proxy=_none_

[patch-remi]
name=Patch - Remi's RPM repository for Enterprise Linux $releasever - $basearch
baseurl=http://repo-linux.tcsbank.ru/repository/remi/enterprise/$releasever/remi/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi
enabled=0
gpgcheck=1
skip_if_unavailable=true
proxy=_none_
