# {{ ansible_managed }}

[patch-centos-8-base]
name=Patch - CentOS-$releasever - Base
baseurl=http://repo-linux.tcsbank.ru/repository/centos/centos/8/BaseOS/$basearch/os/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-centosofficial
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-8
enabled=1
gpgcheck=1
skip_if_unavailable=True
proxy=_none_

[patch-centos-8-extras]
name=Patch - CentOS-$releasever - Extras
baseurl=http://repo-linux.tcsbank.ru/repository/centos/centos/8/extras/$basearch/os/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-centosofficial
enabled=1
gpgcheck=1
skip_if_unavailable=True
proxy=_none_

[patch-centos-8-centosplus]
name=Patch - CentOS-$releasever - Plus
baseurl=http://repo-linux.tcsbank.ru/repository/centos/centos/8/centosplus/$basearch/os/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-centosofficial
enabled=1
gpgcheck=1
skip_if_unavailable=True
proxy=_none_

[patch-epel]
name=Patch - Extra Packages for Enterprise Linux
baseurl=http://repo-linux.tcsbank.ru/repository/epel/$releasever/Everything/$basearch/
# baseurl=http://repo-linux.tcsbank.ru/repository/epel/$releasever/Modular/$basearch/
enabled=1
gpgcheck=0
repo_gpgcheck=0
skip_if_unavailable=True
proxy=_none_

[patch-remi]
name=Patch - Remi's RPM repository for Enterprise Linux $releasever - $basearch
baseurl=http://repo-linux.tcsbank.ru/repository/remi/enterprise/$releasever/remi/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi
enabled=0
gpgcheck=1
skip_if_unavailable=true
proxy=_none_
