# {{ ansible_managed }}
# Date: {{ current_date }}
# https://vm-gitlab01.tcsbank.ru/infra-compute/update_packages/update_packages
#

[patch-rhel-base]
name=Patch - Red Hat Enterprise Linux Server Base(v. 6/7 for x86_64)
baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/$basearch/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
skip_if_unavailable=True
proxy=_none_

[patch-rhel-extras]
name=Patch - Red Hat Enterprise Linux Server Extras(v. 6/7 for x86_64)
baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/extras/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
skip_if_unavailable=True
proxy=_none_

[patch-rhel-optional]
name=Patch - Red Hat Enterprise Linux Server Optional(v. 6/7 for x86_64)
baseurl=http://repo-linux.tcsbank.ru/rhel/$releasever/optional/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
skip_if_unavailable=True
proxy=_none_

[patch-epel]
name=Patch - Extra Packages for Enterprise Linux (v. 6/7 for x86_64)
baseurl=http://repo-linux.tcsbank.ru/repository/epel/$releasever/$basearch/
enabled=1
gpgcheck=0
repo_gpgcheck=0
skip_if_unavailable=True
proxy=_none_

[patch-remi]
name=Patch - Remi's RPM repository for Enterprise Linux 6 - $basearch
baseurl=http://repo-linux.tcsbank.ru/repository/remi/enterprise/$releasever/remi/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi
enabled=0
gpgcheck=1
skip_if_unavailable=true
proxy=_none_
