---
- name: Copy file patch-redhat.repo from template (RedHat 7)
  template:
    src: redhat/7/etc/yum.repos.d/patch-redhat.repo.j2
    dest: /etc/yum.repos.d/patch-redhat.repo
    force: true
  when: ansible_distribution_major_version == "7"

- name: Copy file patch-redhat.repo from template (RedHat 8)
  template:
    src: redhat/8/etc/yum.repos.d/patch-redhat.repo.j2
    dest: /etc/yum.repos.d/patch-redhat.repo
    force: true
  when: ansible_distribution_major_version == "8"

- name: Clean repository and get repository list again for RedHat systems
  shell: yum clean all ; yum repolist --disablerepo="*" --enablerepo="patch-*"
  args:
    warn: false
  register: yum_clean_and_repolist

- name: Update package
  shell: yum -y update --disablerepo="*" --enablerepo="patch-*" {{ packages_name }}
  args:
    warn: false

- name: Get info about updated packages
  shell: rpm -q {{ packages_name }}
  args:
    warn: false
  register: rpm_q_packages
- name: Print info about updated packages
  debug: var="rpm_q_packages.stdout"

- name: Remove unneeded file patch-redhat.repo
  file:
    path: /etc/yum.repos.d/{{ item }}
    state: absent
  with_items:
    - patch-redhat.repo
...
